.simple-slider .swiper-slide {
  height: 700px;
  min-height: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (max-width: 768px) {
  .simple-slider .swiper-slide {
    height: 700px;
    min-height: 700px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}

.simple-slider .swiper-button-next, .simple-slider .swiper-button-prev {
  width: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

@media (max-width:767px) {
  .simple-slider .swiper-button-next, .simple-slider .swiper-button-prev {
    /*display: none;*/
  }
}

@media (max-width:992px) {
  .simple-slider .swiper-slide {
    height: 300px;
    width: auto;
    background-size: 100%;
  }
}

.img-slider .img-banner {
  width: 100%;
  height: 100%;
  margin-right: 20px;
}

.slider-text {
  margin-left: 20%;
  margin-top: 20%;
}

#hero-section-product-1 .btn-card {
  width: 123px;
  height: 42px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  background-color: #00a4ff;
}

#cardlantai {
  height: 0;
}

