a:hover {
  text-decoration: none !important;
}
.hover-footer:hover{
  border-bottom: 1px solid #0056b3;
  width:auto;
}
.hover-prod:hover{
  border-bottom: 2px solid #0056b3;
  width: auto;
}
.hvr-li{
  padding-bottom: 5px;
}

/* navigasi */

nav ul li a, nav ul li a:after, nav ul li a:before {
  transition: all .5s;
}

#navcol-1 ul li a:hover:after {
  width: 100%;
}

#navcol-1 ul li a:after {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #00a4ff;
  height: 3px;
}

#navcol-1 ul li a {
  position: relative;
}

@media (min-width: 300px) {
  .hero-brand-logo {
    /*height: 121px;*/
    width: 320px;
  }
}

.hero-brand-logo {
  /*height: 121px;*/
  width: 210px;
}

/* #navcol-1 {
} */

.border-bottom {
  border-bottom: 3px solid #00a4ff!important;
  overflow: hidden;
}

/* end navigasi */

/* section 2 */

#hero-section-2 .img-banner {
  width: 100%;
}

#hero-section-2 .subheading-banner-1 {
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  color: #fca70c;
  letter-spacing: 7px;
}

/* end section 2 */

/* section 3 */

#hero-section-3 {
  padding-top: 70px;
}

.section-card .bg-section-3 {
  position: absolute;
  margin-left: -15px;
}

#hero-section-3 .img-card {
  width: 200px;
  height: auto;
}

#hero-section-3 .card-title {
  margin-bottom: .75rem;
  font-size: 18px;
  color: #00a4ff;
  padding-top: 10px;
}

#hero-section-3 .section-card .row .card {
  border: 0px !important;
  background: transparent !important;
}

#hero-section-3 .card-body:hover {
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: scale(1.1);
  transition: transform .2s linear,box-shadow .2s linear;
}

#hero-section-3 .heading-sec {
  text-align: center;
  color: #fca70c;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  position: relative;
}

#hero-section-3 .container hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 10px solid #00a4ff;
  /* width: 448px; */
  position: relative;
}

/* end section 3 */

/* section 4 */

#hero-section-4 .img-fluid {
  margin-left: -15px;
}

#hero-section-4 .heading-sec {
  color: #00a4ff;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

#hero-section-4 .container-fluid hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 10px solid #fca70c;
  margin-left: -146px;
  /* width: 453px; */
}

#hero-section-4 .container-fluid .btn-sec {
  width: 198px;
  height: 51px;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  background-color: #00a4ff;
}

/* end secction 4 */

/* section 5 */

#hero-section-5 .card-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #00a4ff;
}

#hero-section-5 .card-subtitle {
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
}

#hero-section-5 .heading-sec {
  text-align: center;
  color: #fca70c;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  position: relative;
}

#hero-section-5 .container hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 10px solid #00a4ff;
  /* width: 448px; */
  position: relative;
}

#hero-section-5 .bg-section-5 {
  margin-left: -15px;
  position: absolute;
  float: right;
  margin-top: -44px;
}

#hero-section-5 .bg-section-5a {
  float: right;
  height: 480px;
  margin-top: -219px;
  background-attachment: fixed;
}

#hero-section-5 .blue-bg {
  position: absolute;
  padding-right: 0px;
}

/* end section 5 */

/* section 6 */

@media (max-width: 500px) {
  #hero-sec-6 .container {
    border: 0px solid black;
    background-color: #00a4ff;
    padding: 10px;
  }
}

#hero-sec-6 .container-fluid {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}

#hero-sec-6 .img-fluid {
  position: absolute;
  width: 100%;
  height: 875px;
}

#hero-sec-6 {
  padding-top: 200px;
  height: 100%;
}

#container-fluid-sec-5 {
  padding-top: 154px;
}

#hero-sec-6 .card-title {
  color: #00a4ff;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 18px;
  padding-top: 10px;
}

/* #hero-sec-6 .card-text {
} */

/* end section 6 */

/* section 7 */

#hero-section-7 .heading-sec {
  text-align: center;
  color: #fca70c;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  position: relative;
}

#hero-section-7 hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 10px solid #00a4ff;
  /* width: 448px; */
  position: relative;
}

#hero-section-7 .col a h1 {
  color: rgb(0,0,0);
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
}

#hero-section-7 .btn-sec {
  width: 241px;
  height: 50px;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  background-color: #00a4ff;
  margin-top: 20px;
}

/* end section 7 */

/* section 8 */

/* #hero-section-8 .container-fluid {
} */

#hero-section-8 .img {
  z-index: -99;
  position: absolute;
  width: 100%;
  height: 500px;
  margin-right: 0px;
}

#hero-section-8 .also .card .card-body img {
  width: 100%;
  height: 200px;
  margin: 0px auto;
  object-fit: contain;
}

/* #row-also {
	
} */

#hero-section #row-also .cad-body .img-card {
  width: 160px;
  height: 302px;
}

.img-card {
  width: auto;
  height: 160px;
}

#also-1 {
  margin-left: 223px;
}

#hero-section-8 .heading-sec {
  color: #00a4ff;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  text-align: center;
}

#hero-section-8 hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 10px solid #fca70c;
  z-index: 2;
  /* width: 453px; */
  text-align: right;
  margin-right: 138px;
  position: relative;
}

@media (min-width: 768px) {
  #hero-section-8 hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 10px solid #fca70c;
    z-index: 2;
    width: 453px;
    text-align: right;
    margin-right: -152px;
    position: relative;
  }
}

/* end section 8 */

.box {
  border: 1px solid black;
  background-color: rgb(0,0,255);
  height: 485px;
  width: 1206px;
  border-radius: 60px;
}

/* section 9 / footer */

footer {
  /*background-color: #000000;*/
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  /*padding: 55px 50px;*/
  bottom: 0;
  color: #fff;
}

#hero-section-9 .footer-navigation a img {
  height: 100%;
  width: 57%;
}

.social-links a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 5px;
  margin-bottom: 5px;
}

@media (max-width:767px) {
  .footer-contacts {
    margin: 30px 0;
  }
}

.footer-navigation h3 {
  margin: 0;
  font: normal 36px Cookie, cursive;
  margin-bottom: 20px;
  color: #fff;
}

div.social-links {
  margin-top: 20px;
  color: #fff;
}

#hero-section-9 .social-links h2 {
  color: #00a4ff;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

#hero-section-9 .footer-information h2 {
  color: #00a4ff;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

#hero-section-9 .footer-information a {
  font-size: 20px;
  color: rgb(0,0,0);
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}

#hero-section-9 .footer-contact h2 {
  color: #00a4ff;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

#hero-section-9 .card-body {
  background-color: #00a4ff;
}

#hero-section-9 {
  padding-top: 70px;
}

@media (min-width: 576px) {
  #hero-section-9 .fa {
    color: #000000;
    margin: 5px;
    font-size: 20px;
  }
}

#hero-section-9 .fa {
  color: #000000;
  margin: 5px;
  font-size: 20px;
}

/* end section 9 / footer */

/* Owl Carousel Nav */
.main-content {
    position: relative;
}
.main-content .owl-theme .custom-nav {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
}
.main-content .owl-theme .custom-nav .owl-prev, .main-content .owl-theme .custom-nav .owl-next {
    position: absolute;
    height: 100px;
    color: inherit;
    background: none;
    border: none;
    z-index: 100;
}
.main-content .owl-theme .custom-nav .owl-prev i, .main-content .owl-theme .custom-nav .owl-next i {
    font-size: 2.5rem;
    color: #007bff;
}
.main-content .owl-theme .custom-nav .owl-prev {
    left: 3%;
}
.main-content .owl-theme .custom-nav .owl-next {
    right: 3%;
}
.fa-angle-left ,  .fa-angle-right{
    font-size: 85px !important;
    color: #00a4ff !important;
}
/* Owl Carousel Nav */

/* Owl Carousel Nav XS */
.main-content-xs {
  position: relative;
}
.main-content-xs .owl-theme .custom-nav-xs {
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
}
.main-content-xs .owl-theme .custom-nav-xs .owl-prev, 
.main-content-xs .owl-theme .custom-nav-xs .owl-next {
  position: absolute;
  height: 100px;
  color: inherit;
  background: none;
  border: none;
  z-index: 100;
}
.main-content-xs .owl-theme .custom-nav-xs .owl-prev i, 
.main-content-xs .owl-theme .custom-nav-xs .owl-next i {
  font-size: 2.5rem;
  color: #007bff;
}
.main-content-xs .owl-theme 
.custom-nav-xs .owl-prev {
  left: 3%;
}
.main-content-xs .owl-theme 
.custom-nav-xs .owl-next {
  right: 3%;
}
.fa-angle-left ,  .fa-angle-right{
  font-size: 85px !important;
  color: #00a4ff !important;
}
/* Owl Carousel Nav XS */

/* section about 1 */

#hero-section-about-1 .heading-sec {
  font-family: 'Open Sans', sans-serif;
/*  font-weight: bold;*/
}

#hero-section-about-1 .container-fluid {
  background-image: url(../../assets/img/bg6.png);
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
}

#hero-section-about-1 .img-fluid {
  height: 100%;
  width: 100%;
}

#hero-section-about-1 {
  padding-top: 180px;
}

/* end section about 1 */

/* section about 2 */

#hero-secttion-about-2 .img-fluid {
  width: 100%;
  height: 100%;
}

#hero-section-about-2 {
  padding-top: 70px;
}

#hero-section-about-2 .container-fluid {
  background-image: url(../../assets/img/bg2.png);
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
}

/* end section about 2 */

/* section about 3 */

#hero-section-about-3 {
  padding-top: 70px;
}

#hero-section-about-3 .container-fluid {
  background-image: url(../../assets/img/bg7.png);
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
}

/* end section about 3 */

/* section product 1 */

#hero-section-product-1 .heading-sec {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

#hero-section-product-1 {
  padding-top: 160px;
}

/* end section product 1 */

/* section product 2 */

#hero-section-product-2 {
  padding-top: 70px;
}

#hero-section-product-2 .container .card-body .card-img {
  width: auto;
  height: 300px;
}

#hero-section-product-2 .container #highlight .card-img {
  width: auto;
  height: 100%;
}

#hero-section-product-2 .container #cardlantai .card-img {
  width: auto;
  height: auto;
}

@media (min-width: 1200px) {
  #hero-section-product-2 .container .card-body .card-img img {
    height: 100%;
    width: auto;
  }
}

@media (max-width: 900px) {
  #hero-section-product-2 .container .card-body .card-img img {
    height: 100%;
    width: auto;
  }
}

#hero-section-product-2 .btn-card {
  width: 123px;
  height: 42px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  background-color: #00a4ff;
}

#hero-section-product-2 .card-title {
  font-family: 'Open Sans', sans-serif;
  padding-top: 20px;
  /*padding-bottom: 50px;*/
}

#hero-section-product-2 .card-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  /*margin-bottom: 278px;*/
}

#hero-section-product-2 .container-fluid {
  background-image: url(../../assets/img/bg7.png);
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
}

/* end section product 2 */

/* section news 2 */

#hero-section-news-2 .card {
  background-color: #00a4ff;
  height: 200px;
  width: 100%;
  border-radius: 20px;
}

#hero-section-news-2 .heading-sec {
  font-size: 23px;
  font-family: 'Open Sans', sans-serif;
}

#hero-section-news-2 .btn-card {
  height: 42px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  background-color: #00a4ff;
  border: none;
}

#hero-section-news-2 .row {
  padding: 5px 0;
}

#hero-section-news-2 {
  padding-top: 100px;
}

.bodycard {
  height: 250px;
  width: 320px;
  background: #fff;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  margin: 0 auto 35px;
  margin-bottom: 0!important;
  padding-bottom: 0!important;
  height: auto!important;
}

.kontenimg {
  display: block;
  height: 126px;
}

.foto {
  display: block;
  object-fit: cover;
  object-position: top;
  height: 126px;
  width: 100%;
  border-radius: 4px 4px 0 0;
}

.kontenteks {
  border: 1px solid #e7e7e7;
  border-top: none;
  border-radius: 0 0 4px 4px;
  padding-bottom: 9px;
  margin-bottom: 20px;
}

.headnews {
  letter-spacing: 0;
  color: #000;
  text-align: left;
  font-weight: 700;
  font-size: 16px;
  padding: 0;
  margin: 20px 12px 10px 12px;
  line-height: 21px;
  height: 58px;
  margin-bottom: 0px;
  margin-top: 0px!important;
  padding-top: 10px!important;
}

.calendar {
  margin-left: 13px;
}


/* end section news 2 */

/*Detail News*/

.imgwraper {
  margin-top: 8px;
  height: 528px;
}

.image-news {
  width: auto;
  height: 100%;
  background-repeat: no-repeat;
  object-fit: cover;
}

.paragraph-news {
  margin-top: 50px;
}

.most-popular {
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

@media (min-width: 769px) {
  .most-popular {
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    padding-top: 135px;
  }
}

.most-popular-img {
  /*height: 164px;*/
  padding-top: 0px;
}

.most-popular-teks {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  padding-top: 5px;
  color: black;
}

.related {
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  padding-top: 10px;
}

.row.related-wraper {
  padding-top: 5px;
}

.related-img {
  height: 60px;
  width: 60px;
}

@media (min-width: 993px) {
  .related-img {
    height: 80px;
    width: 80px;
  }
}

.related-text {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  color: black;
}



/*End Detail News*/


/* section contact 1 */

#hero-section-contact-1 img {
  width: 100%;
  height: 100%;
}

.text-input {
  width: 100%;
  border: 1px solid #00a4ff;
}

.email-input {
  width: 100%;
  border: 1px solid #00a4ff;
}

.tele-input {
  width: 100%;
  border: 1px solid #00a4ff;
}

.tex-area {
  width: 100%;
  height: 130px;
  border: 1px solid #00a4ff;
}

#hero-section-contact-1 .btn-submit {
  width: 100%;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  background-color: #00a4ff;
}

.btn-reset {
  width: 100%;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.text-con {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 20px;
}

/* text-con-miring {
} */

/* end section contact 1 */

#hero-section-8 {
  padding-top: 200px;
}

#hero-section-5 {
  padding-top: 70px;
}

#hero-section-8 #row-also .card-body .btn-card {
  width: 118px;
  height: 34px;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  background-color: #00a4ff;
}

#hero-sec-6 .card-body {
  height: 310px;
}

#hero-sec-6 .row .card {
  border: 0px !important;
  /*background: transparent !important;*/
}

@media (max-width:1200px) {
  .wealso-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin-left: -160px;
    text-align: left;
  }
}

.wealso-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin-left: 20px;
}

#hero-section-8 .also {
  border: 0px;
  background-color: #00a4ff;
  border-radius: 20px 0px 0px 20px;
  padding: 30px;
  z-index: 1;
}

#hero-section-8 .also .card .card-body p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size:16px;
  height: 50px;
}

@media (min-width: 576px) {
  #hero-section-9 .heading-sec {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    color: #00a4ff;
  }
}

#hero-section-9 .heading-sec {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  color: #00a4ff;
  font-size: 14px;
}

@media (min-width: 576px) {
  #hero-section-9 .contact-info .p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: rgb(0,0,0);
    font-size: 20px;
  }
}

#hero-section-9 .contact-info .p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: rgb(0,0,0);
  font-size: 12px;
}

#hero-section-9 .container-fluid {
  border: 0px;
  background-color: #00a4ff;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

#hero-section-9 .container-fluid p {
  margin-bottom: -1rem;
  padding: 5px;
}

#hero-section-9 hr {
  border-top: 50px solid black;
}

#hero-section-about-3 img {
  width: 100%;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

a {
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
}

#hero-section-2 {
  padding-top: 130px;
}

#hero-section-news-1 {
  padding-top: 160px;
}

#hero-section-contact-1 {
  padding-top: 160px;
}

html {
  scroll-behavior: smooth;
}

#hero-section-product-2 .card-body {
  height: 100%;
}

#hero-section-3 .card-body {
  height: 300px;
}

#highlight {
  border: none;
  /*border-radius: 30px;*/
  box-shadow: 4px 4px 20px -10px rgba(0,0,0,0.8);
}

.bgg {
  position: absolute;
  float: right;
  padding-right: 0px;
}

@media (min-width: 1200px) {
  .bgg {
    position: absolute;
  }
}

/* .heading-mlm {
  padding-top: 50px;
} */

@media (min-width: 499px) {
  .heading-mlm {
    padding-top: 50px;
  }
}

#hero-section-mlm2 .heading-sec {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

.nav-item {
  margin-left: 30px;
}

.navbar {
  padding-left: 10px;
  padding-right: 10px;
}

@media (min-width: 768px) {
  .navbar {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media (min-width: 1400px) {
  .navbar {
    padding-left: 300px;
    padding-right: 300px;
  }
}

/* Css teddy */
.color-href-cu{
    color:#000;
}
.title-mini-cu{
    padding-top: 20px;
}
.row-pad-20px{padding-top: 20px;}
.height-prod1{height: 494px;}

@media (min-width: 900px) {
  .single-product{
    width:600px;
  }
}

/* SM */
@media screen and (min-width: 576px) and (max-width: 992px) { 
  #hero-sec-6 , #hero-section-8{padding-top:50px;}
  .row-home-sec-6{
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  #mrg-xs-sec6{margin-bottom: 10px;}
  #hero-section-product-2 {padding-top: 25px;}
  .height-prod1{
    height: auto;
    margin-bottom: 10px;
  }
  .heading-sec{padding-top: 10px;}
  .row-pad-20px{padding-top: 0px;}
  .head-mlm-home{margin-bottom: 35px;}
}
/* SM */
@media screen and (min-width: 499px) and (max-width: 575px) { 
  .heading-sec{padding-top: 15px;}
}
@media only screen and (max-width:498px) {
  .heading-sec{padding-top: 50px;}
}
/* XS */
@media only screen and (max-width:575px) {
  #hero-sec-6 , #hero-section-8{padding-top:50px;}
  .row-home-sec-6{
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  #mrg-xs-sec6{margin-bottom: 10px;}
  #hero-section-product-2 {padding-top: 25px;}
  .height-prod1{
    height: auto;
    margin-bottom: 10px;
  }
  .row-pad-20px{padding-top: 0px;}
  .head-mlm-home{margin-bottom: 35px;}
}
/* Css teddy */